.table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  display: block;
  overflow: scroll;
  width: 380px;
  height: 300px;
}

.table-row {
  border: 1px solid gray;
}

.table-item {
  padding: 10px;
}

.table-item:hover {
  background: gold;
}

.table-item_category {
  position: sticky;
  left: 0;
  background: white;
  padding: 30px;
}

.table-head {
}

.table-head_item {
  position: sticky;
  top: 0;
  background: white;
}

td {
  border: 1px solid gray;
}

.table-wrapper {
  width: 740px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
