.main_page-wrapper {
  width: 740px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.main-title {
  text-align: center;
}

.page_show-more {
  color: #4a76a8;
  cursor: pointer;
}

.main-wrapper {
  margin: 15px;
}
